{
    "id": 17,
    "name": "Dr. Brown",
    "major": 21,
    "minor": 17,
    "description": "Beacon embedded in Dr. Trevone Brown's badge",
    "battery": 67,
    "geom": "0101000020110F00002026E17E467730411CAB5E4354D15541",
    "zone_id": 12,
    "uuid": "0123456789abcdef",
    "state": null
    "last_seen": 1452702712,
    "owner_id": null
}
